body {
  margin: 0;
}

@keyframes newres {
  from { background: #3f3; }
  to { background: none; }
}

.new-res, .new-res-alt {
  animation: newres 2s;
}



.showroll td {
  background: #aaa2;
  padding: 4px;
}

.showroll tr td:first-child {
  border-radius: 8px 0 0 8px;
}

.showroll tr td:last-child {
  border-radius: 0 8px 8px 0;
}

.showroll .label {
  font-weight: bold;
}

.showroll .roll-btn {
  width: 70px;
  text-align: center;
}

.showroll .updn-btn {
  width: 30px;
}

.showroll .updn-btn button > div {
  padding-left: 0.7em;
  padding-right: 0.7em;
}


.showroll {
  width: 60%;
}

.classic {
  width: 60%;
  max-width: 700px;
}

.expert {
  max-width: 780px;
}

@media (max-width: 850px) {
  .showroll {
    width: 80%;
    max-width: 80%;
  }
}

@media (max-width: 425px) {
  .showroll {
    width: 95%;
    max-width: 95%;
  }
}



.opt-path {
  width: calc(100% - 70px);
  height: 20px;
  margin-right: 10px;
}

.opt-copy > button {
  max-width: 50px;
}